@using JaneTicar.GradeCourses.Web.Infrastructures.Data.Models;
@using JaneTicar.GradeCourses.Web.Infrastructures.Security;
@model JaneTicar.GradeCourses.Web.ViewModels.Courses.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

